.cover {
  .wedding-date {
    margin-top: 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .divider {
      background-color: var(--dark-color);
      width: 1px;
      height: 0.7rem;
    }
  }

  .wedding-day-of-week {
    font-size: 1.2rem;
    opacity: 0.7;
    margin-bottom: 1rem;
  }

  .names {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;

    .divider {
      background-color: var(--dark-color);
      width: 1px;
      height: 0.7rem;
    }
  }

  .info {
    margin-bottom: 0.3rem;
    opacity: 0.7;
  }
}

/* ✅ 연락하기 모달 스타일 추가 */
.contact-modal {
  width: 22rem;

  .header {
    .title-group {
      text-align: center;

      .title {
        font-size: 1.2rem;
        color: var(--theme-color);
        padding: 0.5rem;
      }

      .subtitle {
        font-size: 0.9rem;
      }

      padding-bottom: 1rem;
      border-bottom: 1px solid var(--dark-grey-color);
    }
  }

  .content {
    padding: 0.7rem;
    padding-bottom: 1rem;

    .contact-info {
      padding: 1rem 0.7rem;
      display: grid;
      grid-template-columns: 8rem 7rem 1fr;
      row-gap: 0.5rem;

      .relation {
        opacity: 0.7;
      }

      .icon {
        fill: var(--dark-color);
        margin: 0 0.5rem;
        opacity: 0.7;
        width: 1rem;
        height: 1rem;

        &.flip {
          transform: scaleX(-1);
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
}
