@font-face {
  font-family: "MapoGoldenPier";
  src: url("/260711-main/MapoGoldenPierA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Allura";
  src: url("/260711-main/AlluraRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
