.invitation {
  font-family: "MapoGoldenPier", "Noto Sans KR", sans-serif;
  text-align: center;
  line-height: 1.8; /* 문장 간격 여유롭게 */

  .content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.05rem; /* 글씨 조금 키움 */
    color: var(--dark-color);
  }

  .name {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 1.15rem;
    font-weight: 500;

    .relation {
      font-size: 0.8rem;
      opacity: 0.7;

      .relation-name {
        display: inline-block;
        min-width: 2em;
      }
    }
  }
}

/* 연락하기 모달 */
.contact-modal {
  width: 22rem;
  font-family: "MapoGoldenPier", "Noto Sans KR", sans-serif;

  .header {
    .title-group {
      text-align: center;
      .title {
        font-size: 1.2rem;
        color: var(--theme-color);
        padding: 0.5rem;
        font-weight: 600;
      }
      .subtitle {
        font-size: 0.95rem;
        opacity: 0.8;
      }
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--dark-grey-color);
    }
  }

  .content {
    padding: 0.7rem 1rem 1rem 1rem;

    .contact-info {
      padding: 1rem 0;
      display: grid;
      grid-template-columns: 7rem 7rem 1fr;
      row-gap: 0.6rem;
      align-items: center;

      .relation {
        opacity: 0.7;
      }

      .icon {
        fill: var(--dark-color);
        margin: 0 0.4rem;
        opacity: 0.75;
        width: 1.1rem;
        height: 1.1rem;
        cursor: pointer;

        &.flip {
          transform: scaleX(-1);
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
