.write-guestbook-modal {
  width: 22rem;
  height: auto;
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    .title-group {
      text-align: center;

      .title {
        font-size: 1.2rem;
        color: var(--theme-color);
        padding: 0.5rem;
      }

      .subtitle {
        font-size: 0.9rem;
      }

      padding-bottom: 1rem;
      border-bottom: 1px solid var(--dark-grey-color);
    }
  }

  .content {
    padding: 0 0.7rem 0.5rem 0.7rem;

    .form {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      input {
        padding: 0.7rem; /* ✅ 높이 살짝 증가 */
        margin-bottom: 0.7rem;
        border: 1px solid var(--light-grey-color);
        border-radius: 0.3rem;
        font-family: "MapoGoldenPier";
        font-size: 0.95rem; /* ✅ 글자 크기 증가 */
      }

      textarea {
        padding: 0.7rem;
        margin-bottom: 0.7rem;
        border: 1px solid var(--light-grey-color);
        border-radius: 0.3rem;
        font-family: "MapoGoldenPier";
        font-size: 0.95rem; /* ✅ 글자 크기 증가 */
        height: 8rem; /* ✅ 기본 입력창 크기 확대 */
        overflow-y: auto; /* ✅ 내용이 많을 때만 스크롤 */
        resize: none; /* ✅ 크기 조절 방지 */
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;

    button {
      width: 100%;
    }
  }
}
