.calendar {
  .calendar-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 1rem;
    border: 1px solid var(--light-grey-color);

    > div {
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      /* 요일 헤더 스타일 */
      &.head {
        aspect-ratio: auto;
        background-color: var(--alt-bg-color);
        color: var(--dark-color);
        font-weight: bold;
        font-size: 0.9rem;
        padding: 0.8rem 0; /* 높이 확대 */
        border-bottom: 1px solid var(--light-grey-color);
      }

      &.holiday > span {
        color: var(--red-color);
      }

      &.wedding-date {
        position: relative;

        > span { z-index: 1; }

        > .heart {
          width: 50%;
          height: 50%;
          background: var(--theme-color);
          top: 35%;
          left: 25%;
          position: absolute;
          transform: rotate(45deg);
          transform-origin: center center;
          z-index: 0;
          animation: breathingHeart 3s linear infinite;

          &::before,
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 50%;
            background: var(--theme-color);
          }

          &::before { top: -50%; left: 0; }
          &::after  { left: -50%; }
        }
      }
    }
  }

  .countdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .countdown {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      .count-item {
        display: flex;
        align-items: baseline;
        gap: 0.2rem;

        .count {
          font-weight: bold;
          font-size: 1.2rem;
          opacity: 0.8;
        }

        .unit {
          font-weight: bold;
          font-size: 0.7rem;
          opacity: 0.5;
        }
      }

      span {
        font-weight: bold;
        opacity: 0.6;
      }
    }

    .message {
      margin-top: 2rem;
      margin-bottom: 1.5rem;

      .d-day {
        color: var(--theme-color);
      }
    }
  }
}

/* 하트 애니메이션 */
@keyframes breathingHeart {
  0%   { transform: rotate(45deg) scale(1); }
  50%  { transform: rotate(45deg) scale(1.15); }
  100% { transform: rotate(45deg) scale(1); }
}
