.timeline {
  background-color: var(--light-color);
  border: 1px solid var(--light-grey-color);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  padding: 2rem 1.5rem;
  margin: 1rem 0;
  border-radius: 1rem;
  text-align: left;

  h2 {
    margin-bottom: 1.5rem;
  }

  .timeline-item {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    border-left: 3px solid var(--theme-color);

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0.4rem;
      left: -0.55rem;
      width: 0.9rem;
      height: 0.9rem;
      border-radius: 50%;
      background-color: var(--theme-color);
    }

    .time {
      font-weight: bold;
      color: var(--alt-color);
      margin-bottom: 0.3rem;
      display: block;
    }

    .content {
      color: var(--dark-color);
    }
  }
}
