/* ✅ 세로형 카드 구조 */
.card-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* ✅ 카드 그룹 배경 완전 제거 (이것만 남김) */
  background: none !important;
  box-shadow: none !important;

  margin: 12px;

  opacity: 0;
  &.lazy-active {
    animation-name: lazy-fade-in;
    animation-duration: 3s;
    opacity: 1;
  }

  @media print {
    opacity: 1;
    animation: none !important;
  }

  .card {
    background-color: var(--light-color);
    padding: 1.5rem;
    border: 1px solid var(--light-grey-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;

    @media (max-width: 980px) {
      margin: 0.5rem 0;
    }

    opacity: 0;
    &.lazy-active {
      animation-name: lazy-fade-in;
      animation-duration: 3s;
      opacity: 1;
    }

    @media print {
      opacity: 1;
      animation: none !important;
    }
  }
}
