@keyframes modal-fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  animation-name: modal-fade-in;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;

  display: flex;
  justify-content: center;
  align-items: center;

  > .modal {
    background-color: var(--light-color);
    animation-name: modal-fade-in;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    opacity: 1;

    /* ✅ 둥근 모서리와 그림자 효과 */
    border-radius: 0.75rem;
    box-shadow: 0 0.75rem 2rem rgba(0, 0, 0, 0.25);

    /* 부드럽게 나타나도록 트랜지션 추가 */
    transition: all 0.3s ease-out;

    .header {
      padding: 0.5rem 1rem;
      background-color: var(--light-color);
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
      z-index: 7;

      .close-button-wrapper {
        display: flex;
        justify-content: flex-end;

        .close-button {
          position: relative;
          z-index: 3;
          width: 1.25rem;
          height: 1.25rem;
          cursor: pointer;

          &::before,
          &::after {
            content: "";
            width: 0.1rem;
            height: 100%;
            background-color: var(--dark-grey-color);
            position: absolute;
            top: 0;
            left: 50%;
            transform-origin: center;
            transition: background-color 0.2s;
          }

          &::before {
            transform: rotate(45deg);
          }

          &::after {
            transform: rotate(135deg);
          }

          &:hover::before,
          &:hover::after {
            background-color: var(--primary-color);
          }
        }
      }
    }

    .content {
      max-height: 80vh;
      overflow: auto;
      padding: 1rem;
      border-bottom-left-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
    }
  }
}
